/* You can add global styles to this file, and also import other style files */
html{    
  padding: 0;
  height: 100%;  
}
body{
  margin-top: 63px;
  height: 100%; 
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.btn-bwn{
  padding: 4px 4px;
  margin:10px;
  margin-left:5px;
  font-size: 18px;
  background-color:lightcoral;
  color:white;
}

.login,
.sign-up {
  background-color:lightcoral;
  border-color: lightcoral;
  color: aliceblue;
  fill: lightcoral;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
}
