<div class="sidebar">
    <img src="/assets/homeIcon.jfif" height="245" width="320">
    <div style="text-align: center; font-size: 1em">Welcome to Online Picture Management home page, a social networking
        website to share your photos!
        </div>
    <div style="text-align: center">
        <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">Create Image Post Category</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Post Image</button>
    </div>
</div>